.login-container {
  display: table;
  width: 100%;
  height: inherit;

  form {
    display: table-cell;
    text-align: center;
    vertical-align: middle;

    p {
      font-size: 20px;
      color: #ffffff;
    }

    input {
      border: none;
      outline: none;
      padding: 10px;
      background: rgba(255, 255, 255, 0.19);
      box-sizing: border-box;
      color: #ffffff;
      font-size: 20px;
    }

    input.field:focus {
      border-bottom: 2px solid #BFBFC3;
    }

    .submit-button {
      margin: 20px;
      cursor: pointer;
      border-bottom: none;
    }
  } 
}