@import './trivia';
@import './login';
@import './loading';

html,body {
  height:100%;
  width:100%;
  margin:0;
}

body {
  background: #282537;
  background-image: -webkit-radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
  background-image: -moz-radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
  background-image: -o-radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
  background-image: radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
}

#root {
  height: inherit;
}

.body-bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}